<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Dao.TestDao" >
    <resultMap id="baseResultMap" type="com.Pojo.Test" >
        <result column="id" property="id" jdbcType="NUMERIC"/>
        <result column="test" property="test" jdbcType="VARCHAR"/>
        <result column="test_status" property="testStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectSql">
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="createUser != null and createUser !=''">
                AND create_user = #{createUser}
            </if>
            <if test="ip != null and ip != ''">
                AND ip = #{ip}
            </if>
        </trim>
    </sql>

    <!-- 通过指定条件查询信息总数，用于分页展示 -->
    <select id="countByMap" parameterType="java.util.Map" resultType="int">
        SELECT count(id) FROM test
        <include refid="selectSql"/>
    </select>

    <!-- 通过指定条件查询信息 -->
    <select id="selectByMap" parameterType="java.util.Map" resultMap="baseResultMap"
            resultType="com.Pojo.Test">
        SELECT * FROM test
        <include refid="selectSql"/>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
        <if test="order != null">
            ${order}
        </if>
    </select>

    <!-- 通过指定条件查询信息总数，用于分页展示 -->
    <select id="selectByMapCount" parameterType="java.util.Map" resultType="int">
        SELECT count(id) FROM test
        <include refid="selectSql"/>
    </select>
</mapper>